RewriteEngine on
RewriteBase /techpub

### DO NOT APPLY RULES WHEN REQUESTING "favicon.ico"
RewriteCond %{REQUEST_FILENAME} favicon.ico [NC]
RewriteRule .* - [S=14]

#RewriteRule ^([0-9a-z]{3,6})$ ./ajax/redirect?data=$1 [L]

### MAIN REWRITE - This will ignore directories
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ./index.php?_=$1&%{QUERY_STRING} [L]