/* @group Reset */
	
	* {
		background: transparent;
		border: none;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		color: inherit;
		cursor: inherit;
		font-family: inherit;
		font-size: 100%;
		font-style: inherit;
		font-weight: inherit;
		line-height: inherit;
		margin: 0;
		outline: none;
		padding: 0;
		vertical-align: bottom;
	}
	html,
	body {
		height: 100%;
	}
	body {
		background: hsl(0, 0%, 85%);
		cursor: default;
		counter-reset: section;
		font-family: 'helvetica';
		font-size: 14px;
		line-height: 20px;
	}
	
/* @end */

/* @group Document */
	
	#document {
		background: #ffffff;
		box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.2);
		-moz-box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.2);
		-webkit-box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.2);
		margin: 0 auto;
		min-height: 100%;
		position: relative;
		width: 840px;
	}
	#document > * {
		padding: 120px 60px 60px 60px;
		position: relative;
		width: 840px;
	}
	#document > .loading:before {
		background: hsla(0, 0%, 100%, 0.5);
		bottom: 0;
		content: ' ';
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
	#document > nav {
		background: hsla(0, 0%, 15%, 0.9);
		background: -moz-linear-gradient(
			top, hsla(0, 0%, 20%, 0.9), hsla(0, 0%, 15%, 0.9)
		);
		background: -webkit-gradient(
			linear, left top, left bottom,
			color-stop(0, hsla(0, 0%, 20%, 0.9)),
			color-stop(1, hsla(0, 0%, 15%, 0.9))
		);
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		color: #ffffff;
		font-size: 12px;
		height: 60px;
		line-height: 25px;
		margin: 0 auto;
		padding: 15px 60px;
		position: fixed;
		top: 0;
		width: 840px;
		z-index: 2;
	}
	#document > nav ul {
		list-style: none;
	}
	#document > nav li a {
		background-color: hsl(78, 0%, 50%);
		background-image: -moz-linear-gradient(
			top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2)
		);
		background-image: -webkit-gradient(
			linear, left top, left bottom,
			color-stop(0, hsla(0, 0%, 0%, 0)),
			color-stop(1, hsla(0, 0%, 0%, 0.2))
		);
		border-radius: 25px;
		-moz-border-radius: 25px;
		-o-border-radius: 25px;
		-webkit-border-radius: 25px;
		box-shadow: 0 -1px 0 hsla(0, 0%, 100%, 0.2) inset;
		-moz-box-shadow: 0 -1px 0 hsla(0, 0%, 100%, 0.2) inset;
		-webkit-box-shadow: 0 -1px 0 hsla(0, 0%, 100%, 0.2) inset;
		display: block;
		float: left;
		margin: 0 10px 0 0;
		padding: 1px 10px 0 10px;
		text-decoration: none;
	}
	#document > nav li:hover a {
		background-color: hsl(78, 0%, 40%);
	}
	#document > nav li.save a {
		background-color: hsl(78, 50%, 50%);
		float: right;
		margin: 0;
	}
	#document > nav li.save:hover a {
		background-color: hsl(78, 50%, 40%);
	}
	
/* @end */

/* @group Document */
	
	#view *:first-child {
		margin-top: 0;
	}
	#view *:last-child {
		margin-bottom: 0;
	}
	
	/* @group Inline */
		
		#view a {
			color: hsl(78, 50%, 40%);
			cursor: pointer;
			text-decoration: none;
		}
		#view a:hover {
			text-decoration: underline;
		}
		#view a.home,
		#view a.top {
			color: #cccccc;
			float: right;
			margin: 0 0 0 20px;
			text-decoration: none;
		}
		#view a.home:hover,
		#view a.top:hover {
			color: #aaaaaa;
		}
		#view a[rel = external]:after {
			content: '\21b4';
		}
		#view acronym {
			border-bottom: 1px dotted hsla(0, 0%, 0%, 0.2);
		}
		#view i,
		#view em {
			font-style: italic;
		}
		#view b,
		#view strong {
			font-weight: bold;
		}
		
		#view sub {
			vertical-align: sub;
		}
		#view sup {
			vertical-align: super;
		}
		
	/* @end */
	
	/* @group Headers */
		
		#view h1 {
			font-family: 'gotham', 'helvetica';
			font-size: 38px;
			font-weight: bold;
			line-height: 40px;
			margin: 20px 0;
		}
		#view h2 {
			font-size: 22px;
			line-height: 24px;
			margin: 40px 0 15px 0;
			page-break-before: always;
			position: relative;
		}
		#view h2:first-child {
			page-break-before: auto;
		}
		#view h1 + h2 {
			margin-top: 20px;
		}
		#view h3 {
			font-size: 16px;
			margin: 30px 0 15px 0;
		}
		#view h2 + h3 {
			margin-top: 15px;
		}
		#view h4 {
			font-weight: bold;
			margin: 20px 0 5px 0;
		}
		
		#view h2.highlight:before,
		#view h3.highlight:before {
			display: inline;
			content: '\2023';
			float: left;
			font-size: 200%;
			line-height: 0.7;
			margin: 0 0 0 -25px;
			width: 25px;
		}
		
		#view h2 a.toc,
		#view h3 a.toc {
			color: inherit;
			font-weight: bold;
			text-decoration: none;
		}
		
	/* @end */
	
	/* @group Images */
		
		#view img {
			display: block;
			margin: 0 auto;
			padding: 10px 0;
		}
		
	/* @end */
	
	/* @group Tables */
		
		#view table {
			background: hsla(0, 0%, 0%, 0.03);
			border-radius: 10px;
			-moz-border-radius: 10px;
			-o-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-spacing: 0;
			font-size: 13px;
			margin: 20px 0;
			padding: 10px;
			width: 100%;
		}
		#view table caption {
			font-size: 14px;
			font-weight: bold;
			margin: 0 0 5px 0;
			text-align: left;
		}
		#view table td,
		#view table th {
			padding: 4px 8px;
			text-align: left;
			vertical-align: top;
		}
		#view table tr:nth-child(2n-1) th,
		#view table tr:nth-child(2n-1) td {
			background: hsla(0, 0%, 0%, 0.04);
		}
		#view table tr:first-child th:first-child,
		#view table tr:first-child td:first-child {
			border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-o-border-top-left-radius: 5px;
			-webkit-border-top-left-radius: 5px;
		}
		#view table tr:first-child th:last-child,
		#view table tr:first-child td:last-child {
			border-top-right-radius: 5px;
			-moz-border-radius-topright: 5px;
			-o-border-top-right-radius: 5px;
			-webkit-border-top-right-radius: 5px;
		}
		#view table tr:last-child th:first-child,
		#view table tr:last-child td:first-child {
			border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			-o-border-bottom-left-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
		}
		#view table tr:last-child th:last-child,
		#view table tr:last-child td:last-child {
			border-bottom-right-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-o-border-bottom-right-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
		}
		#view table th {
			font-weight: bold;
		}
		
	/* @end */
	
	/* @group Lists */
		
		#view ol,
		#view ul {
			list-style: none;
			margin: 10px 0 10px 20px;
		}
		#view ol li,
		#view ul li {
			clear: both;
			margin: 0 0 0 0;
		}
		#view ol ol:last-child,
		#view ol ul:last-child,
		#view ul ol:last-child,
		#view ul ul:last-child {
			margin: 0 0 10px 20px;
		}
		
		#view ol {
			counter-reset: orderedlist;
		}
		#view ol li:before {
			counter-increment: orderedlist;
			content: counter(orderedlist) '. ';
		}
		
		#view ul li:before {
			content: '\2013\00a0';
		}
		
		#view dl {
			margin: 20px 0;
		}
		#view dl dt {
			font-weight: bold;
		}
		#view dl dd {
			margin: 0 0 5px 1em;
		}
		
	/* @end */
	
	/* @group Table of Contents */
		
		#view nav.contents ol,
		#view nav.contents ol li ol {
			list-style: none;
		}
		#view nav.contents ol li:before {
			content: '';
		}
		
	/* @end */
	
	/* @group Breadcrumb */
		
		#view nav.breadcrumb ol {
			color: #999999;
			font-size: 12px;
			line-height: 14px;
			margin: 0;
			overflow: hidden;
		}
		#view nav.breadcrumb li {
			clear: none;
			float: left;
		}
		#view nav.breadcrumb li:before {
			content: '\2022';
			margin: 0 1ex;
		}
		#view nav.breadcrumb li:first-child:before {
			display: none;
		}
		#view nav.breadcrumb li a {
			color: #bbbbbb;
		}
		#view nav.breadcrumb li a:hover {
			color: #999999;
		}
		#view nav.breadcrumb + h1 {
			margin-top: 10px;
		}
		
	/* @end */
	
	/* @group Code */
		
		#view code {
			font-family: 'monaco';
			font-size: 95%;
			line-height: 1;
			vertical-align: baseline;
		}
		#view code * {
			vertical-align: baseline;
		}
		#view pre {
			background: hsla(0, 0%, 0%, 0.03);
			border-radius: 10px;
			-moz-border-radius: 10px;
			-o-border-radius: 10px;
			-webkit-border-radius: 10px;
			font-family: 'monaco';
			font-size: 12px;
			line-height: 18px;
			margin: 20px 0;
			padding: 10px;
			white-space: pre-wrap;
		}
		#view pre .comment {
			color: hsl(0, 0%, 50%);
		}
	
	/* @group Paragraphs */
		
		#view blockquote {
			background: hsla(0, 0%, 0%, 0.03);
			border-radius: 10px;
			-moz-border-radius: 10px;
			-o-border-radius: 10px;
			-webkit-border-radius: 10px;
			margin: 20px 0;
			padding: 10px;
		}
		#view p {
			margin: 10px 0;
		}
		
	/* @end */
	
/* @end */

/* @group Edit */
	
	#edit {
		cursor: text;
		display: block;
		font-family: 'monaco';
		font-size: 12px;
		line-height: 18px;
		overflow: hidden;
	}
	
/* @end */